{block content}
{block submenu}
<div class="topPanelSubmenu">
<ul class="dropdown">
	 <li class="backBtn"><a n:href="Race:">Zpět</a></li>
</ul>
</div>
{/block}
<div class="boxWrapper">
	<div class="boxHeading">Nový závod</div>
	<div class="boxContent">
		{control newRaceForm}			
	</div>
</div>