{block content}
{block submenu}
<div class="topPanelSubmenu">
<ul class="dropdown">
	 <li class="backBtn"><a n:href="Race:team">Zpět</a></li>
</ul>
</div>
{/block}
<div class="boxWrapper">
	<div class="boxHeading">Nová oddílová soutěž</div>
	<div class="boxContent">
		{control newTeamRaceForm}			
	</div>
</div>