{block content}
{include 'default.latte'}
<div class="boxWrapper shortBox">
	<div class="boxHeading">Nastavení počtu bodovaných pozic</div>
	<div class="boxContent">
	<p>Nastavte počet hodnocených míst v závodech jednotlivců.</p>
		{control setRankedForm}
	</div>
</div>
