{block content}
{include 'default.latte'}
<div class="boxWrapper shortBox">
	<div class="boxHeading">Počty bodů za umístění v oddílových závodech</div>
	<div class="boxContent">
	<p>Nastavte počty bodů za umístění v oddílových závodech.</p>
		{control teamRacePointsForm}
	</div>
</div>
