{block content}
{block submenu}
<div class="topPanelSubmenu">
<ul class="dropdown">
	 <li class="backBtn"><a n:href="Person: $person->id">Zpět</a></li>
</ul>
</div>
{/block}
<div class="boxWrapper shortBox">
	<div class="boxHeading">Upravit</div>
	<div class="boxContent">
		{control editPersonForm}
	</div>
</div>
