div.bar {
	fill: steelblue;
}

div.bar:hover {
	fill: brown;
}

.axis {
	font-size: 10px;
	color: white;
    stroke-width: 1;
}

.axis path,
.axis line {
	fill: none;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}